#list-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
#loader {
  width: 25px;
  height: 25px;
  margin: 12px 15px 10px 0;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid black;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}

@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

#search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 1.6%;
  height: 40px;
  width: 220px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 10px;
  background-color: white;
}

#search-box-input {
  padding-top: 2.5px;
  border: 0;
  outline: none;
  background-color: white;
}

#search-icon {
  width: 20px;
  opacity: 0.75;
  color: black;
}

@media screen and (max-width: 850px) {
  #list-title {
    margin-bottom: 0;
  }

  #list-header {
    flex-direction: column;
  }

  #search-box {
    position: static;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 325px) {
  #list-title {
    line-height: 50px;
  }

  #search-box {
    margin-top: 10px;
  }
}

