@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

h4 {
  font-size: 20px;
  margin: 10px 0;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  margin: 10px 0;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  margin: 10px 0;
}

p {
  font-size: 20px;
  color: #4f465b;
  margin: 15px 0px 20px 0;
  margin: 0;
}

#nightowl-switcher-default {
  left: 15px !important;
  top: 15px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 450px) {
  #nightowl-switcher-default {
    left: 6px !important;
    top: 10px !important;
    width: 35px !important;
    height: 35px !important;
  }

  #nightowl-switcher-default svg {
    width: 20px !important;
  }
}
